
.my-blog-post {
    font-size: 18px;
}

.my-font {
    font-family: "Droid Sans", sans-serif;
}

.summary {
    font-size: 20px;
}

img {
    width: 100%;
    height: 100%;
    /*padding-bottom: 5px;*/
}

img img {
}